*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 19vh;
}

.logo{
    padding-left: 7vw;
    padding-top: 4vh
}

input{
    width: 42vw;
    height: 8vh;
    background-color: rgb(248, 248, 248);
    border: none;
    outline: none;
    border-radius: 5px;
}

.searchBar{
    width: 55vw;
    margin-top: 4vh;
    margin-left: 3vw;
}

input::placeholder{
    padding-left: 2vh;
    color: rgb(160, 160, 160);
}

#lupa{
    margin-left: -40px;
    font-size: 18px;
    color: rgb(160, 160, 160);
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4.5vw;
    width: 14vw;
    height: 8vh;
    margin-top: 4vh;
}

.cadastre{
    font-size: 16px;
    color: rgb(117, 117, 117);
}

.entrar{
    width: 6vw;
    height: 5vh;
    border-radius: 7px;
    border: none;
    background-color: rgb(201, 32, 113);
    color: white;
}

.carOption{
    color: rgb(201, 32, 113);
    margin-top: 6vh;
    width: 2vw;
    height: 4vh;
    margin-right: 6vw;
}

.opcoes{
    display: flex;
    width: 100vw;
    height: 4vh;
    padding-left: 5vw;
}

.opcoes a:hover{
    text-decoration: underline;
    color: rgb(201, 32, 113);
}

.iconSpace{
    font-size: 16px;
    padding-left: 2vw;
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-weight: bold;
}

